<h2>Forum</h2>

<div class="row">
    <div class="col-md-12">
        <div class="pull-right">
            <a class="btn btn-primary" href="@Url.Action("create", "section")">Add Section</a>
        </div>
    </div>
</div>

