<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --><!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="mvcForum" type="mvcForum.Core.Configuration.MVCForumSection, mvcForum.Core" />
  </configSections>
  <connectionStrings>
    <add name="FuglBrennaEntities" connectionString="metadata=res://*/Models.FuglBrennaContext.csdl|res://*/Models.FuglBrennaContext.ssdl|res://*/Models.FuglBrennaContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=FuglBrenna;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" fcnMode="Single" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    <add name="ImageProcessorModule" type="ImageProcessor.Web.HttpModules.ImageProcessingModule, ImageProcessor.Web" />
    </httpModules>
    <roleManager enabled="true" defaultProvider="SimpleProvider">
      <providers>
        <clear />
        <add name="SimpleProvider" type="MVCBootstrap.Web.Security.SimpleRoleProvider" />
      </providers>
    </roleManager>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    <add name="ImageProcessorModule" type="ImageProcessor.Web.HttpModules.ImageProcessingModule, ImageProcessor.Web" /></modules>
    <validation validateIntegratedModeConfiguration="false" />
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.9.5" newVersion="1.4.9.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ninject.Web.Common" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
<system.data>        
    <DbProviderFactories>
        <remove invariant="System.Data.SqlServerCe.4.0" />
        <add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </DbProviderFactories>
</system.data>
  <mvcForum>
    <databaseBuilder type="mvcForum.DataProvider.EntityFramework.DataProviderConfiguration, mvcForum.DataProvider.EntityFramework" />
    <dependencyContainerBuilder type="MVCBootstrap.Ninject.DependencyContainer, MVCBootstrap.Ninject" />
    <storageBuilder type="mvcForum.Web.DependencyBuilders.StorageBuilder, mvcForum.Web" />

    <themeProviderComponent type="mvcForum.Web.ForumThemeProvider, mvcForum.Web" />
    <themeUrlProviderComponent type="MVCThemes.SimpleThemeURLProvider, MVCThemes" />
    <eventPublisherComponent type="ApplicationBoilerplate.Events.EventPublisher, ApplicationBoilerplate" />
    <asyncTaskComponent type="MVCBootstrap.Web.Events.AsyncTask, MVCBootstrap" />

    <urlProviderComponent type="mvcForum.Web.Providers.MVCURLProvider, mvcForum.Web" />

    <mailServiceComponent type="MVCBootstrap.Web.Mvc.Services.MailService, MVCBootstrap" />
    <membershipServiceComponent type="MVCBootstrap.Web.Mvc.Services.AccountMembershipService, MVCBootstrap" />
    <formsAuthenticationComponent type="MVCBootstrap.Web.Mvc.Services.FormsAuthenticationService, MVCBootstrap" />
    <userProviderComponent type="mvcForum.Web.Providers.MVCForumUserProvider, mvcForum.Web" />

    <loggingProviderComponent type="mvcForum.Web.TraceLog, mvcForum.Web" />

    <searchBuilders>
      <add name="Lucene" type="mvcForum.SearchProvider.Lucene.LuceneSearchBuilder, mvcForum.SearchProvider.Lucene" />
    </searchBuilders>

    <additionalBuilders>
      <add name="Core" type="mvcForum.Core.DependencyBuilders.CoreBuilder, mvcForum.Core" />
      <add name="ForumConf" type="mvcForum.Web.ForumConfigurator, mvcForum.Web" />
      <add name="ForumAdmin" type="mvcForum.Web.DependencyBuilders.ForumAdminBuilder, mvcForum.Web" />
      <add name="WebCommon" type="mvcForum.Web.DependencyBuilders.WebCommonBuilder, mvcForum.Web" />
      <add name="AddOnEmbeddedViews" type="mvcForum.AddOns.AddOnBuilder, mvcForum.AddOns" />
      <add name="Akismet" type="mvcForum.AddOns.Akismet.AkismetBuilder, mvcForum.AddOns" />
      <add name="MultiPost" type="mvcForum.AddOns.MultiPost.MultiPostBuilder, mvcForum.AddOns" />
      <add name="NewUserTrial" type="mvcForum.AddOns.NewUserTrial.NewUserTrialBuilder, mvcForum.AddOns" />
      <add name="StopForumSpam" type="mvcForum.AddOns.StopForumSpam.StopForumSpamBuilder, mvcForum.AddOns" />
      <!-- Put any additional builders in here! -->
    </additionalBuilders>

    <contentParserComponents>
      <add name="BBCode" type="mvcForum.AddOns.ContentParsing.BBCParser, mvcForum.AddOns" />
      <add name="MarkDown" type="mvcForum.AddOns.ContentParsing.MarkDownParser, mvcForum.AddOns" />
      <add name="Regular" type="mvcForum.AddOns.ContentParsing.RegularParser, mvcForum.AddOns" />
    </contentParserComponents>

    <eventListenerComponents>
      <add name="Following" type="mvcForum.Web.Events.FollowingEventListener, mvcForum.Web" />
      <add name="Moderation" type="mvcForum.Web.Events.ModerationEventListener, mvcForum.Web" />
      <add name="PostReportResolved" type="mvcForum.Web.Events.PostReportResolvedEventListener, mvcForum.Web" />
      <add name="NewAndUpdatedContent" type="mvcForum.Web.Events.NewAndUpdatedContentEventListener, mvcForum.Web" />
      <add name="FlagUpdated" type="mvcForum.Web.Events.FlagUpdatedEventListener, mvcForum.Web" />
      <add name="Installation" type="mvcForum.Web.Events.InstallationEventListener, mvcForum.Web" />

      <!-- Lucene -->
      <add name="Lucene" type="mvcForum.SearchProvider.Lucene.LuceneContentChangeEventListener, mvcForum.SearchProvider.Lucene" />

      <!-- Add ons -->
      <add name="Akismet" type="mvcForum.AddOns.Akismet.AkismetAddOn, mvcForum.AddOns" />
      <add name="MultiPost" type="mvcForum.AddOns.MultiPost.MultiPostAddOn, mvcForum.AddOns" />
      <add name="NewUserTrial" type="mvcForum.AddOns.NewUserTrial.NewUserTrialAddOn, mvcForum.AddOns" />
      <add name="StopForumSpam" type="mvcForum.AddOns.StopForumSpam.StopForumSpamAddOn, mvcForum.AddOns" />
    </eventListenerComponents>
    <!--<repositoryComponents>
			<add type="mvcForum.DataProvider.EntityFramework.Repositories.TopicRepository, mvcForum.DataProvider.EntityFramework" interface="mvcForum.Core.Interfaces.Data.ITopicRepository, mvcForum.Core"/>
		</repositoryComponents>-->
  </mvcForum>
</configuration>