body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('/Content/images/FB1.svg');
    background-size: 100%;
}

.navbar-inverse {
    font-family: white;
   color: white ;
    background-color: #9cb8d3;
    height: 95px;

}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.fblogo{
    float: left;
    height: 140px; 
    padding:5px 5px 5px 5px;
  }
