body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px; }

p {
  margin: 0; }

.forum-sections, .forum-topics, .forum-posts {
  padding: 0;
  margin-top: 20px; }

.forum-sections .section, .forum-topics .topic, .forum-posts__post {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%; }

.forum-sections .section {
  border: 1px solid #666;
  background: #ddd;
  color: #000;
  margin-bottom: 20px;
  align-items: center; }
  .forum-sections .section:hover {
    text-decoration: none;
    cursor: pointer;
    background: #f0f0f0; }
  .forum-sections .section__main {
    padding: 10px 15px;
    flex-grow: 4; }
  .forum-sections .section__title {
    margin-bottom: 8px;
    font-size: 20px; }
  .forum-sections .section__description {
    margin: 0;
    font-size: 14px;
    color: #444; }

.forum-topics .topic {
  border-bottom: 1px solid #ccc;
  background: rgba(240, 240, 240, 0.75);
  color: #000;
  align-items: center; }
  .forum-topics .topic:nth-child(even) {
    background: rgba(215, 215, 215, 0.75); }
  .forum-topics .topic__main {
    padding: 10px 15px;
    flex-grow: 4; }
  .forum-topics .topic__title {
    font-size: 20px; }
  .forum-topics .topic__author {
    color: #444; }
  .forum-topics .topic__posts {
    flex-grow: 1;
    text-align: center; }

.forum-data {
  font-size: 13px;
  color: #444;
  flex-grow: 1; }
  .forum-data__datum {
    margin: 5px 0;
    width: 100%;
    text-align: left; }

.datum__label {
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
  padding-right: 5px; }

.datum__value {
  display: inline-block;
  vertical-align: middle;
  width: auto; }

.forum-last-post {
  flex-grow: 1;
  font-size: 12px;
  color: #555;
  text-align: center; }

.last-post__author {
  margin-bottom: 5px; }

.forum-posts {
  line-height: 1.2em; }
  .forum-posts__post {
    border-bottom: 1px solid #ccc;
    background: rgba(240, 240, 240, 0.75);
    color: #000; }
    .forum-posts__post:nth-child(even) {
      background: rgba(215, 215, 215, 0.75); }
    .forum-posts__post .post__member {
      flex-grow: 0;
      width: 20%;
      padding: 15px; }
      .forum-posts__post .post__member .member-name {
        text-align: left;
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 8px; }
      .forum-posts__post .post__member .member-joined, .forum-posts__post .post__member .member-posts {
        color: #666;
        font-size: 12px; }
    .forum-posts__post .post__main {
      flex-grow: 4;
      display: flex;
      flex-direction: column;
      padding: 0 15px; }
      .forum-posts__post .post__main .content {
        display: block;
        padding: 15px 0; }
      .forum-posts__post .post__main .controls {
        margin: auto 0;
        padding: 15px 0 5px;
        font-size: 12px; }
    .forum-posts__post .post__data {
      width: 15%;
      text-align: right;
      font-size: 12px;
      line-height: 12px;
      color: #666;
      padding: 15px; }
  .forum-posts__reply {
    padding: 30px;
    background: rgba(166, 196, 212, 0.75); }

.forum-quote {
  border: 1px solid #6297b2;
  background: rgba(166, 196, 212, 0.75);
  padding: 15px;
  margin: 0 20px 20px 20px; }
  .forum-quote__header {
    font-style: italic;
    padding-bottom: 15px; }
    .forum-quote__header__name {
      font-size: 14px;
      font-weight: bold;
      color: #333; }
    .forum-quote__header__date {
      float: right;
      color: #666;
      font-size: 12px; }

.date-ago {
  visibility: hidden; }

@media (max-width: 767px) {
  .section__main {
    width: 100%; }
  .forum-data__datum {
    float: left;
    width: auto; }
  .datum__label {
    padding: 0 5px 0 15px;
    width: 80px; }
  .datum__value {
    padding-right: 20px; } }

