$fb-blue: #6297b2;
$fb-yellow: #fcce14;
$fb-orange: #f59d34;
$fb-red: #d3492b;
$fb-darkred: #9e2f27;

$bg-row: rgba(240, 240, 240, 0.75);
$bg-row-alt: darken($bg-row, 10%);
$bg-post: rgba(lighten($fb-blue, 20%), 0.75);
$divider-color: #ccc;

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

p {
    margin: 0;
}

.forum-sections, .forum-topics, .forum-posts {
    padding: 0;
    margin-top: 20px;
}

.forum-sections .section, .forum-topics .topic, .forum-posts__post {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.forum-sections {
    .section {
        border: 1px solid #666;
        background: #ddd;
        color: #000;
        margin-bottom: 20px;
        align-items: center;

        &:hover {
            text-decoration: none;
            cursor: pointer;
            background: #f0f0f0;
        }

        &__main {
            padding: 10px 15px;
            flex-grow: 4;
        }

        &__title {
            margin-bottom: 8px;
            font-size: 20px;
        }

        &__description {
            margin: 0;
            font-size: 14px;
            color: #444;
        }
    }
}

.forum-topics .topic {
    border-bottom: 1px solid $divider-color;
    background: $bg-row;
    color: #000;
    align-items: center;

    &:nth-child(even) {
        background: $bg-row-alt;
    }

    &__main {
        padding: 10px 15px;
        flex-grow: 4;
    }

    &__title {
        font-size: 20px;
    }

    &__author {
        color: #444;
    }

    &__posts {
        flex-grow: 1;
        text-align: center;
    }
}

.forum-data {
    font-size: 13px;
    color: #444;
    flex-grow: 1;

    &__datum {
        margin: 5px 0;
        width: 100%;
        text-align: left;
    }
}

.datum__label {
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    padding-right: 5px;
}

.datum__value {
    display: inline-block;
    vertical-align: middle;
    width: auto;
}

.forum-last-post {
    flex-grow: 1;
    font-size: 12px;
    color: #555;
    text-align: center;
}

.last-post__author {
    margin-bottom: 5px;
}

.forum-posts {
    line-height: 1.2em;

    &__post {
        border-bottom: 1px solid $divider-color;
        background: $bg-row;
        color: #000;
        flex-wrap: nowrap;

        &:nth-child(even) {
            background: $bg-row-alt;
        }

        .post__member {
            flex-grow: 0;
            width: 20%;
            padding: 15px;

            .member-name {
                text-align: left;
                font-weight: bold;
                font-size: 16px;
                margin-bottom: 8px;
            }

            .member-joined, .member-posts {
                color: #666;
                font-size: 12px;
            }
        }

        .post__main {
            flex-grow: 4;
            display: flex;
            flex-direction: column;
            padding: 0 15px;

            .content {
                display: block;
                padding: 15px 0;
            }

            .controls {
                margin: auto 0;
                padding: 15px 0 5px;
                font-size: 12px;
            }
        }

        .post__data {
            width: 120px;
            text-align: right;
            font-size: 12px;
            line-height: 12px;
            color: #666;
            padding: 15px;
        }
    }

    &__reply {
        padding: 30px;
        background: $bg-post;
    }
}

.forum-quote {
    border: 1px solid $fb-blue;
    background: $bg-post;
    padding: 15px;
    margin: 0 20px 20px 20px;

    &__header {
        font-style: italic;
        padding-bottom: 15px;

        &__name {
            font-size: 14px;
            font-weight: bold;
            color: #333;
        }

        &__date {
            float: right;
            color: #666;
            font-size: 12px;
        }
    }
}

.date-ago {
    visibility: hidden;
}

@media (max-width: 767px) {
    .section {
        &__main {
            width: 100%;
        }

        .datum__label {
            padding: 0 5px 0 15px;
            width: 80px;
            text-align: right;
        }
    }

    .forum-topics {
        .topic {
            &__main {
                width: 100%;
            }

            &__posts {
                text-align: left;
                padding: 5px 15px;
            }
        }
    }

    .forum-data__datum {
        float: left;
        width: auto;
    }

    .datum__value {
        padding-right: 20px;
    }

    .forum-last-post {
        padding: 5px 15px 5px 0;
        text-align: right;

        .last-post__name {
            display: inline-block;
            padding-right: 10px;
        }
        
        .last-post__date {
            display: inline-block;
        }
    }

    .forum-posts__post {
        flex-direction: column;
        position: relative;

        .post__member {
            width: auto;

            .member-joined, .member-posts {
                display: none;
            }
        }

        

        .post__data {
            position: absolute;
            top: 0;
            right: 0;
            align-self: flex-end;
        }
    }
}